.descriptionContainer {
  border-top: 2px solid;
  border-bottom: 2px solid;
  /* border-radius: 20px; */
  margin-top: 1.5rem;
  margin-left: 5rem;
  width: 90vw;
  height: 180px;
  overflow: hidden;
  justify-content: center;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
}

.carouselTrack {
  display: flex;
  width: max-content;
  animation: scrollCarousel 60s linear infinite;
}

.description {
  flex: 0 0 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #555;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1.5rem;
}

.bannerLogo {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

@keyframes scrollCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}
