.trackContainer {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .subheading {
    width: 77%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
    background: transparent;
  }
  
  
  .mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .textBox {
    background-color: #1a1a1a;
    width: 300px;
    max-width: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .textBox h2 {
    color: white;
    margin: 0.5rem 0;
    font-size: 1.1rem;
  }
  
  .textBox span {
    font-weight: bold;
    color: goldenrod;
  }
  
  .hash {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    height: auto;
    color: rgb(248, 184, 186);
    font-style: italic;
    font-weight: bold;
    word-wrap: break-word;
  }
  
  .spotifyBtn {
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: #1db954;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    width: fit-content;
    transition: background 0.3s;
  }
  
  .spotifyBtn:hover {
    background-color: #1ed760;
  }
  
  .currentTrack {
    width:300px;
   height: 300px;
    object-fit: contain;
    max-width: 100%;
    overflow: hidden;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .mainContent {
      flex-direction: column;
      padding: 2rem 1rem;
      gap: 1.5rem;
      justify-content: center;
      align-content: center;
      text-align: left;
      width: 100vw;
      border-radius: 0rem;
    }
  
    .textBox {
      width: fit-content;
    }
  
    .subheading {
        width: 100%;
        text-align: left;
      font-size: 1.5rem;
    }
  
    .spotifyBtn {
      font-size: 1rem;
      padding: 0.5rem 0.8rem;
    }
  
    .currentTrack {
      width: fit-content;

    }
  }
  